html,
body,
#root {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  height: auto;
}
.app {
  width: 80%;
}
.stock {
  width: 100%;
  display: flex;
}
.stock-info-container {
  width: 40%;
}
.graph-container {
  width: 60%;
}